<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="SauceDemoWeb"><classes><class name="sanity.SauceDemoWeb"><methods><include name="test01_verifyTitle"/><include name="test02_verifyItemsNumber"/><include name="test03_add_and_removeItemsFromInventory"/><include name="test04_verify_low_to_high_sortingItems"/><include name="test05_verify_AllElementsDisplay"/><include name="test06_verify_visualization_primary_header_logo"/><include name="test07_verify_product_exists_inCart"/></methods></class></classes></test></suite>